doctype html
html(lang='uk')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title shpp-library
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width,initial-scale=1')
        meta(name='description', content='library Sh++')
        link(rel='stylesheet', href='/style/libs.min.css')
        link(rel='stylesheet', href='/style/booksPageStyle.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css', crossorigin='anonymous')
    body(data-gr-c-s-loaded='true')
        section#header.header-wrapper
            nav.navbar.navbar-default
                .container
                    .col-xs-5.col-sm-2.col-md-2.col-lg-2
                        .logo
                            a.navbar-brand(href='http://localhost:3000/')
                                span.sh Ш
                                span.plus ++
                    .col-xs-12.col-sm-7.col-md-8.col-lg-8
                        .main-menu
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                form.navbar-form.navbar-right
                                    .form-group
                                        input#search.form-control(type='text', placeholder='Найти книгу')


                                        .loader
                                        #list.bAutoComplete.mSearchAutoComplete(size)
                    .col-xs-2.col-sm-3.col-md-2.col-lg-2.hidden-xs
                        .social
                            a(href='https://www.facebook.com/shpp.kr/', target='_blank')
                                span.fa-stack.fa-sm
                                    i.fa.fa-facebook.fa-stack-1x
                            a(href='http://programming.kr.ua/ru/courses#faq', target='_blank')
                                span.fa-stack.fa-sm
                                    i.fa.fa-book.fa-stack-1x
        section#main.main-wrapper
            .container
                #content.book_block.col-xs-12.col-sm-12.col-md-12.col-lg-12
                    #id
                        #bookImg.col-xs-12.col-sm-3.col-md-3.item(style='margin:;')
                            img.img-responsive(src=book.imgUrl, alt=book.name)
                            hr
                            .bookInfo.col-md-12
                                #un-photo-pages.titleBook=`${book.pages} ст.`
                        .col-xs-12.col-sm-9.col-md-9.col-lg-9.info
                            .bookInfo.col-md-12
                                #title.titleBook=book.name+` (${book.year}) | ${book.author_name}`
                            //.col-xs-12.col-sm-12.col-md-12.col-lg-12
                            //    .bookLastInfo
                            //        .bookRow
                            //            span(class='properties') автор:
                            //            span(id='author')=book.author_name
                            //        .bookRow
                            //            span(class='properties') год:
                            //            span(id='year')=book.year
                            //        .bookRow
                            //            span(class='properties') страниц:
                            //            span(id='pages')=book.pages
                            .btnBlock.col-xs-12.col-sm-12.col-md-12
                                button.btnBookID.btn-lg.btn.btn-success(type='button', onclick=`clickBtn(${book.id})`) Хочу читати!
                            .bookDescription.col-xs-12.col-sm-12.col-md-12.hidden-xs.hidden-sm
                                h4 О книзі
                                hr
                                p#description=book.description
                        .bookDescription.col-xs-12.col-sm-12.col-md-12.hidden-md.hidden-lg
                            h4 О книзі
                            hr
                            p.description=book.description
        section#footer.footer-wrapper
            .navbar-bottom.row-fluid
                .navbar-inner
                    .container-fuild
                        .content_footer
                            | Made with
                            a.heart(href='http://programming.kr.ua/')
                                i.fa.fa-heart(aria-hidden='true')
                            | by HolaTeam
        .sweet-overlay(tabindex='-1', style='opacity: -0.04; display: none;')
        .sweet-alert.hideSweetAlert(data-custom-class, data-has-cancel-button='false', data-has-confirm-button='true', data-allow-outside-click='false', data-has-done-function='false', data-animation='pop', data-timer='null', style='display: none; margin-top: -169px; opacity: -0.04;')
            .sa-icon.sa-error(style='display: block;')
                span.sa-x-mark
                    span.sa-line.sa-left
                    span.sa-line.sa-right
            .sa-icon.sa-warning(style='display: none;')
                span.sa-body
                span.sa-dot
            .sa-icon.sa-info(style='display: none;')
            .sa-icon.sa-success(style='display: none;')
                span.sa-line.sa-tip
                span.sa-line.sa-long
                .sa-placeholder
                .sa-fix
            .sa-icon.sa-custom(style='display: none;')
            h2 Ооопс!
            p(style='display: block;') Ошибка error
            fieldset
                input(type='text', tabindex='3', placeholder)
                .sa-input-error
            .sa-button-container
                button.cancel(tabindex='2', style='display: none; box-shadow: none;') Cancel
                .sa-confirm-button-container
                    button.confirm(tabindex='1', style='display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;') OK
                    .la-ball-fall
                        div
                        div
                        div
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(type='text/javascript').
    $(document).ready(() => {
        $('#search.form-control').keydown((e) => {
            if (e.keyCode === 13) {
                window.location.href = `http://localhost:3000/?search=${encodeURI($('#search.form-control').val())}`
                e.preventDefault()
            }
        })

        $(".btnBookID").click(() => {
            alert(
                "Книга свободна и ты можешь прийти за ней.\nНаш адрес: г. Кропивницкий, переулок Васильевский 10, 5 этаж.\nЛучше предварительно прозвонить и предупредить нас, чтоб\nне попасть в неловкую ситуацию. Тел. 099 196 24 69"
            );

            $.post('http://localhost:3000/book/' + #{book.id})
        });
    })