doctype html
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Библиотека++
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='library Sh++')
    link(rel='stylesheet', type='text/css', href='./style/libs.min.css')
    link(rel="icon" type="image/x-icon" href="/images/favicon.png")
    link(rel='stylesheet', type='text/css', href='./style/booksPageStyle.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css', crossorigin='anonymous')
section#header.header-wrapper
    nav.navbar.navbar-default
        .container
            .col-xs-5.col-sm-2.col-md-2.col-lg-2
                .logo
                    a.navbar-brand(href='http://localhost:3000/')
                        span.sh &SHcy;
                        span.plus ++
            .col-xs-12.col-sm-7.col-md-8.col-lg-8
                .main-menu
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        form.navbar-form.navbar-right
                            .form-group
                                input#search.form-control(type='text', placeholder='Введите запрос и нажмите ENTER')
            .col-xs-2.col-sm-3.col-md-2.col-lg-2.hidden-xs
                .social
                    a(href='https://www.facebook.com/shpp.kr/', target='_blank')
                        span.fa-stack.fa-sm
                            i.fa.fa-facebook.fa-stack-1x
                    a(href='http://programming.kr.ua/ru/courses#faq', target='_blank')
                        span.fa-stack.fa-sm0
                            i.fa.fa-book.fa-stack-1x
                    a(href='http://localhost:3000/admin', target='_blank')
                        span.fa-stack.fa-sm
                            i.fa.fa-user.fa-stack-1x
section#main.main-wrapper
    .container
        #content.col-xs-12.col-sm-12.col-md-12.col-lg-12
            if books
                each book in books
                    .book_item.col-xs-6.col-sm-3.col-md-2.col-lg-2(data-book-id=book.id)
                        .book
                            a(href='http://localhost:3000/book/' + book.id)
                                img(src=book.imgUrl alt=book.name)
                                .blockI(data-title=book.name style="height: 46px;")
                                    .title.size_text(data-book-title=book.name)=book.name
                                    .author(data-book-author=book.author_name)=book.author_name
            else
                h1= `По запросу "${query}" ничего не было найдено.`
        //
        #current-offset(style='display: none;') #{offset}
        #loading-indicator.d-flex.w-100.my-4.justify-content-center.align-items-center(style='display: none;')
            | Loading...

        #load-else-wrapper.d-flex.w-100.my-4.justify-content-center.align-items-center
            button#load-else.btn.btn-info.btn-true(type='button') Завантажити ще книг



script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(type='text/javascript').
    // function loadBooks (offset){
    //     console.log(offset);
    //     fetch('http://localhost:3000/', {method: "POST", headers: {'Content-Type': 'application/json'}, body: JSON.stringify({offset : offset})})
    // }
    //
    //
    //
    // addEventListener("scroll", () => {
    //     let guestbooks = document.querySelector('#content');
    //     if ($(window).scrollTop() + $(window).height() === $(document).height()) {
    //         // let offset = isNaN(#{offset}) ? 20 : #{offset};
    //         loadBooks(#{offset});
    //         location.reload();
    //
    //
    //
    //     }
    // });

    if (!isNaN(parseInt(new URLSearchParams(window.location.search).get('y')))) {
        window.scrollTo({
            top: parseInt(new URLSearchParams(window.location.search).get('y')),
            behavior: 'smooth'
        });
    }
    $(document).ready(() => {
        $('#search.form-control').keydown((e) => {
            if (e.keyCode === 13) {
                const query = encodeURI($('#search.form-control').val())
                window.location.href = 'http://localhost:3000/?search=' + query
                e.preventDefault()
            }
        })
        // $(document).keyup(function (e) {
        //     if ($("#search.form-control").is(":focus") && (e.keyCode === 13)) {
        //         window.location.href = 'http://localhost:3000/?search=' + encodeURI($('#search.form-control').val())
        //     }
        // });
        $("#load-else").click(() => {
            // console.log($(window).scrollTop() + $(window).height());
            // fetch('http://localhost:3000/', {method: "POST", headers: {'Content-Type': 'application/json'}, body: JSON.stringify({offset : #{offset}})})
            window.location.href = 'http://localhost:3000/?offset=' + #{(isNaN(offset) ? 20 : offset) + 20} + '&y=' + ($(window).scrollTop())
            // $("#current-offset").text(#{offset})
        });
    });


